name: Download GDS Plugin
on: [workflow_dispatch]
jobs:
  get_plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Download GDS Jar
        run: |
          # دانلود آخرین نسخه پایدار پلاگین GDS برای Neo4j 5.x
          curl -L "https://cdn.graphdatascience.com/neo4j-graph-data-science-2.10.0.jar" -o gds-plugin.jar
      - name: Upload to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: neo4j-gds-plugin
          path: gds-plugin.jar
