name: Download GDS Plugin Jar
on: [workflow_dispatch]

jobs:
  download_jar:
    runs-on: ubuntu-latest
    steps:
      - name: Download GDS File
        run: |
          # دانلود آخرین نسخه پایدار هماهنگ با Neo4j 5.x
          curl -L "https://dist.neo4j.org/neo4j-desktop-2/win/neo4j-desktop-2.1.2-x64.exe" -o gds-plugin.zip
          unzip gds-plugin.zip -d ./gds-folder
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: neo4j-gds-plugin-file
          path: ./gds-folder/*.jar
